<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sandbox{% endblock %}</title>

    <!-- Link to CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    

    <!-- Link to JavaScript files -->
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/tableFilter.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/volatility.js') }}" defer></script>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Submit</a>
        <a href="{{ url_for('pending') }}">Pending</a>
        <a href="{{ url_for('results') }}">Results</a>
        <a href="{{ url_for('configure') }}">🔧</a>
    </div>

    <div class="container">
        {% block content %}
        <!-- Default content goes here -->
        {% endblock %}
    </div>

    <!-- Optional: additional scripts can go here -->
</body>
</html>
