<!-- templates/virustotal-report.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Virustotal Report</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Virustotal Report</h1>
    <table>
        <thead>
            <tr>
                <th>Scanner</th>
                <th>Classification</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for scanner, details in json_content['data']['attributes']['last_analysis_results'].items() %}
            <tr>
                <td>{{ scanner }}</td>
                <td>{{ details['category'] | capitalize }}</td>
                <td>{{ details['result'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
